body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-169px;
  width:911px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:63px;
  width:558px;
  height:434px;
  display:flex;
}
#u1000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:154px;
  width:93px;
  height:22px;
  display:flex;
}
#u1001 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:796px;
  width:118px;
  height:22px;
  display:flex;
}
#u1002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:1167px;
  width:142px;
  height:22px;
  display:flex;
}
#u1003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:218px;
  width:82px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:218px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:278px;
  width:113px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:218px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:157px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:220px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:333px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:219px;
  width:113px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:395px;
  width:113px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:336px;
  width:113px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:274px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:333px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:550px;
  width:74px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:389px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:274px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:302px;
  width:0px;
  height:0px;
}
#u1019_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:17px;
  height:10px;
}
#u1019_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-67px;
  width:10px;
  height:72px;
}
#u1019_seg2 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-67px;
  width:18px;
  height:10px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:302px;
  width:0px;
  height:0px;
}
#u1020_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:30px;
  height:10px;
}
#u1020_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:10px;
  height:13px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:302px;
  width:0px;
  height:0px;
}
#u1021_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:17px;
  height:10px;
}
#u1021_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-5px;
  width:10px;
  height:61px;
}
#u1021_seg2 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:46px;
  width:18px;
  height:10px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:241px;
  width:0px;
  height:0px;
}
#u1022_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:241px;
  width:0px;
  height:0px;
}
#u1023_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:852px;
  width:82px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:852px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:908px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:852px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:964px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1222px;
  width:82px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1222px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1222px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1222px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1278px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:908px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:550px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:241px;
  width:0px;
  height:0px;
}
#u1036_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:35px;
  height:10px;
}
#u1036_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-5px;
  width:10px;
  height:342px;
}
#u1036_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:327px;
  width:15px;
  height:10px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:148px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:573px;
  width:0px;
  height:0px;
}
#u1037_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:55px;
  height:10px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:279px;
  width:113px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:92px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:157px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:243px;
  width:0px;
  height:0px;
}
#u1041_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u1041_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-68px;
  width:10px;
  height:73px;
}
#u1041_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-68px;
  width:24px;
  height:10px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:243px;
  width:0px;
  height:0px;
}
#u1042_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u1042_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-133px;
  width:10px;
  height:138px;
}
#u1042_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-133px;
  width:24px;
  height:10px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-75px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:297px;
  width:0px;
  height:0px;
}
#u1043_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:356px;
  width:0px;
  height:0px;
}
#u1044_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:356px;
  width:0px;
  height:0px;
}
#u1045_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u1045_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-5px;
  width:10px;
  height:66px;
}
#u1045_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:51px;
  width:24px;
  height:10px;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:1023px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:242px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1047_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u1047_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:54px;
  width:16px;
  height:10px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:219px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1048_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:10px;
  height:44px;
}
#u1048_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-44px;
  width:93px;
  height:10px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:301px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1049_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u1049_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-5px;
  width:10px;
  height:11px;
}
#u1049_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-4px;
  width:20px;
  height:10px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:242px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1050_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u1050_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-5px;
  width:10px;
  height:70px;
}
#u1050_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:55px;
  width:20px;
  height:10px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:359px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1051_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u1051_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-62px;
  width:10px;
  height:67px;
}
#u1051_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-62px;
  width:20px;
  height:10px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:219px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:359px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1053_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u1053_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-122px;
  width:10px;
  height:127px;
}
#u1053_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-122px;
  width:20px;
  height:10px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-66px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:301px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1054_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u1054_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-64px;
  width:10px;
  height:69px;
}
#u1054_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-64px;
  width:20px;
  height:10px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:242px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1055_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:395px;
  width:84px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:418px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1057_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:79px;
  width:65px;
  height:22px;
  display:flex;
}
#u1058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:875px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1059_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:875px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1060_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:875px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1061_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:29px;
  height:10px;
}
#u1061_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-5px;
  width:10px;
  height:66px;
}
#u1061_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:51px;
  width:21px;
  height:10px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:931px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1062_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:89px;
  height:10px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:931px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1063_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1063_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-5px;
  width:10px;
  height:66px;
}
#u1063_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:51px;
  width:19px;
  height:10px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:931px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1064_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u1064_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-5px;
  width:10px;
  height:125px;
}
#u1064_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:110px;
  width:19px;
  height:10px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1245px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1065_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:1245px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1066_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1245px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1067_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:28px;
  height:10px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1245px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1068_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u1068_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:66px;
}
#u1068_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:51px;
  width:18px;
  height:10px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:613px;
  width:74px;
  height:46px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:573px;
  width:0px;
  height:0px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1070_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:41px;
  height:10px;
}
#u1070_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-5px;
  width:10px;
  height:73px;
}
#u1070_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:58px;
  width:19px;
  height:10px;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
